Table~\ref{<{highest-ranked-documents-id}>} lists the top 10 documents, sorted by average tf-idf value.
\begin{table}[H]
\centering
\begin{tabular}{|l|c|r|c|}
\hline\hline
    Document & Avg. tf-idf & Top Word (tf-idf) & Word Count \\
\hline<%for document in documents%>
    <{document.doc-id}> & <{document.avg-tf-idf|double-format:2}> & <{document.top-word.word}> (<{document.top-word.tf-idf|double-format:2}>) & <{document.word-count}> \\<%endfor%>
\hline\hline
\end{tabular}
\caption{Top 10 documents (by avg. tf-idf) from the \textit{<{collection}>} document set.}
\label{<{highest-ranked-documents-id}>}
\end{table}
