\begin{table}[htdp]
\centering
\begin{tabular}{|l|c|r|c|}
\hline\hline
    Document & Avg. TF-IDF & Top Word (TF-IDF) & Word Count \\
\hline<%for document in documents%>
    <{document.doc-id}> & <{document.avg-tf-idf|double-format:2}> & <{document.top-word.word}> (<{document.top-word.tf-idf|double-format:2}>) & <{document.word-count}> \\<%endfor%>
\hline\hline
\end{tabular}
\caption{!!!TODO!!!}
\label{tab:!!!TODO!!!}
\end{table}
